body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  header {
    background-color: #ff2800;
    color: white;
    padding: 10px 0;
    width: 90%;
    max-width: 700px;
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: top 0.3s ease;
    display: flex;
    align-items: center; /* Vertikális középre igazítás */
  }
  
  .logo-container {
    margin-left: 5px; /* Logó és a bal oldal közötti távolság */
  }
  
  .menu-container {
    display: flex;
    justify-content: center; /* Középre igazítás */
    flex: 1; /* Kihasználja a rendelkezésre álló helyet a középre igazításhoz */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    display: block;
  }
  

  section {
    padding: 20px;
    margin-top: 80px; /* Térköz a navbar alatt */
    background-color: white;
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ff2800;
    color: white;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  form label, form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
  }
  
  form button {
    padding: 10px 20px;
    background-color: #ff2800;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }

  